.idea/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
public/.DS_Store
*.DS_Store
docker-compose.override.yml
docker/traefik.env
/.make.*
/.e2e/
/.playwright/

# Environment files
.env
api/.env
client/.env
.env.*
api/.env.*
client/.env.*
!.env.example
!api/.env.example
!client/.env.example
.help-center-docs/
